<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
  <a class="navbar-brand" href="#">
    <img src="assets/Transmission_Icon.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    SyTorrent
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/overview">Overview</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/settings">Settings</a>
      </li>
    </ul>
    <button type="button" class="btn btn-outline-primary"><fa-icon [icon]="torrentAddIcon" routerLink="/add"></fa-icon></button>
  </div>
</nav>
<main class="container-fluid pr-1 pl-1">
  <router-outlet></router-outlet>
</main>
